// Fonts
$font-kreadon: 'Kreadon', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// Colors
$darkpurple: #572461;
$darkred: #71101e;
$purple: #c4a3ef;
$pink: #e4c2ff;
$lightpink: #efdcfe;
$light-color: #f7edff;
$text-color: #000;

$transition: 0.2s ease-in-out;