// Fonts
$font-kreadon: 'Kreadon', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// Colors
$darkpurple: #695cf0;
$darkred: #aa0019;
$purple: #0299FF;
$pink: #d3bfff;
$lightpink: #eee6ff;

$box-shadow: 0 0px 10px 0 rgb(165 169 176 / 30%);
$box-shadow-hover: 0 2px 20px 0 rgb(165 169 176 / 100%);
$delivery-shadow: 0 2px 5px 0 rgb(199 193 168 / 30%);

$transition: 0.2s ease-in-out;
