@use '@/styles/variables.scss' as *;

.marqueeContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: $darkred;
  padding: 0px 0;
}

.marqueeTrack {
  display: flex;
  animation: marquee 150s linear infinite;
  width: fit-content;
}

.marqueeContent {
  display: flex;
  align-items: center;
}

.marqueeImage {
  height: 40px;
  width: auto;
  margin-right: 0px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}