
  .marquee {
    position: fixed; /* Keep it fixed at the top */
    top: 0;
    left: 0;
    right: 0;
    //background-color: #fff;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .marquee span {
    display: inline-block;
    padding-left: 0%;
  }