@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.header {
    width: 100%;
    position: fixed; // !important;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: $purple;
    height: 70px;
    margin-bottom: 46px;
}

.container {
    max-width: 1312px;
    margin: 0 auto;
    padding: 10px 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo_img {
    position: relative;
    width: 182px; 
    height: 50px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 15px;

    &Icons {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 40px;
        height: 40px;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 25px 20px 10px;
    background: $lightpink;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -15px;
    right: 20px;

    a {
        @include body-bold;
        text-decoration: none;
        color: black;
        padding: 5px 10px;
        transition: color 0.3s;

        &:hover {
            color: $darkpurple; // Цвет при наведении
        }
    }
}

.loginButton {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    border-radius: 0px;
    cursor: pointer;
}


