@import '@/styles/_variables.scss';

// .container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   background-color: #f0f0f0; // Цвет фона страницы
// }
.box {
  position: fixed;  /* Keeps it in place even when scrolling */
  top: 70px;        /* Adjust based on your header height */
  right: 20px;      /* 20px from the right edge */
  width: 40vh;      /* 40% of the viewport height */
  height: 40vh;     /* Same as width to keep it square */
  background-color: #eee6ff; /* Light gray background */
  border-radius: 20px; /* Rounded corners */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}


.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.input {
  width: 80%;
  padding: 10px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid $purple;
  border-radius: 5px;
}

.button {
  width: 80%;
  padding: 10px;
  background-color: $darkred; // Цвет кнопки
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  &:disabled {
    background-color: rgba(0, 0, 0, 0.0); // Цвет кнопки при отключении
    cursor: not-allowed;
    border: 1px solid $darkred;
    color: $darkred;
  }
}

.text {
  margin-top: 20px;
}

.link {
  color: $darkred; // Цвет ссылки
  text-decoration: none;

  &:hover {
    text-decoration: underline; // Подчеркивание при наведении
  }
}
  